.title h1 {
  font-size: 45pt;
  text-align: center;
}
.title p {
  text-align: center;
}
.title-colour, .title-colour a {
  color: #b12930;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Podkova, Georgia, serif;
}
.navbar-brand {
  color: #b12930;
  font-size: 18px;
}
h1, .h1 {
  border-bottom: 1px solid #ddd;
}
body {
  font-family: Metrophobic, Verdana, sans-serif;
  font-size: 16px;
}

blockquote p {
  font-size: 20px;
}

/*html {
  font-size: 100%;
}*/

.page-header h1 a {
  text-decoration: none;
  color: black;
}

.title-image {
  text-align: center;
  background: black;
  margin-bottom: 25px;
}
.title-image img {
  display: inline;
  border: none;
}

.contact {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

article img {
  max-width: 100%;
  max-height:100%;
  padding-left: 0px;
  margin: 0px;
  border: 1px solid #e7e7e7;
}
article p {
  text-align: justify;
}

.inline-image {
  padding: 18px 18px 0px 18px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.inline-image-right {
  float: right;
  margin-left: 20px;
}
.inline-image-left {
  float: left;
  margin-right: 20px;
}
.inline-image-cap {
  text-align: center;
  margin-top: 4px;
}

#footer p {
  color: gray;
  font-size: 100%;
}
#footer section.meta a {
  font-size: 100%;
}
#footer #text-right {
  text-align: right;
}
#footer #text-left {
  text-align: left;
}


/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin: 0px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  border-left-color: #b12930;
}
.bs-callout-danger h4 {
  color: #b12930;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

#map-canvas img { max-width: none; max-height: none; } /* fix for badly sized map controls when using bootstrap */
#map-canvas { height: 800px; width: 100%; }

.infowindow-content { max-width: none; max-height: none; }