h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Podkova, Georgia, serif;
}
body {
  font-family: Metrophobic, Verdana, sans-serif;
  text-align: justify;
}

.page-header h1 a {
  text-decoration: none;
  color: black;
}

.title-image {
  text-align: center;
  background: black;
  margin-bottom: 25px;
}

.jumbotron a:hover {
  color: black;
  text-decoration: none;
}
.jumbotron h1 {
  color: #b12930;
  border-bottom: 1px solid #ddd;
}
.jumbotron {
  text-align: center;
}

.contact {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
