/* big block title */
.title h1 {
  font-size: 45pt;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
/* subtitle of big block title */
.title p {
  text-align: center;
}
.title-colour, .title-colour a {
  color: #b12930;
}

/* e.g. post title */
.title-group {
  border-bottom: 1px solid #ddd;
}

h1, .h1 {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Podkova, Georgia, serif;
}
.navbar-brand {
  color: #b12930;
  font-size: 18px;
}
body {
  font-family: Metrophobic, Verdana, sans-serif;
  font-size: 18px;
}

blockquote p {
  font-size: 20px;
}

/*html {
  font-size: 100%;
}*/

.page-header h1 a {
  text-decoration: none;
  color: black;
}

.title-image {
  text-align: center;
  background: black;
  margin-bottom: 25px;
}
.title-image img {
  display: inline;
  border: none;
}

.contact {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

article img {
  max-width: 100%;
  max-height:100%;
  padding-left: 0px;
  margin: 0px;
  border: 1px solid #e7e7e7;
}
article p {
  text-align: justify;
}

.inline-image {
  /* no padding at bottom */
  padding: 18px 18px 0px 18px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.inline-image img {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 754px) {
  .inline-image-cap p {
    text-align: center;
  }
}
@media (min-width: 755px) {
  .inline-image-right {
    float: right;
    margin-left: 20px;
  }
  .inline-image-left {
    float: left;
    margin-right: 20px;
  }
  .inline-image-cap {
    text-align: center;
    margin-top: 4px;
  }
}

#footer {
  padding: 0px;
}
#footer p {
  color: gray;
  font-size: 100%;
}
#footer section.meta a {
  font-size: 100%;
}
#footer #text-right {
  text-align: right;
}
#footer #text-left {
  text-align: left;
}


/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #f8f8f8;
}
.bs-callout h4 {
  margin: 0px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  border-left-color: #b12930;
}
.bs-callout-danger .heading {
  color: #b12930;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning .heading {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info .heading {
  color: #5bc0de;
  font-weight: bold;
}
.bs-callout .heading {
  font-weight: bold;
}
.bs-callout p, blockquote p {
  margin: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}
blockquote {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border: 1px solid #eee;
  border-left-color: #b12930;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #f8f8f8;
}

#map-canvas img { max-width: none; max-height: none; } /* fix for badly sized map controls when using bootstrap */
#map-canvas { height: 800px; width: 100%; }

#infowindow-content {
  overflow: hidden;
  white-space: pre;
}

#current-location-text, #current-location-arrival { white-space: nowrap; }

#map-canvas #infowindow-content h2,
#map-canvas #infowindow-content h3,
#map-canvas #infowindow-content h4,
#map-canvas #infowindow-content h5 {
  margin-top: 0;
}

table.highlighttable td.code {
  width: 100%;
}
table.highlighttable td.linenos pre code {
  white-space: pre;
}

.glyph:hover {
  color: #b12930;
}
