---
layout: layout
title: "Joe's Mots"
categories:
- index
tags:
- landing
---

<div class="container">

  <div class="title">
    <h1 class="title-colour"><a href="/">Joe's Mots</a></h1>
    <p>Trying to be cogent.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include short-toc-by-tag.html tag='germany' title=site.germany.tag_name description=site.germany.tag_description %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include short-toc-by-tag.html tag='tasty-rsvps' title=site.tasty-rsvps.tag_name description=site.tasty-rsvps.tag_description %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include short-toc-by-tag.html tag='honeyment' title=site.honeyment.tag_name description=site.honeyment.tag_description numPosts='5' additionalLinkUrl="/where" additionalLinkText="where page" showAuthor='true' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include short-toc-by-tag.html tag='article' title=site.article.tag_name description=site.article.tag_description numPosts='100' %}
    </div>
  </div>

  {% comment %}If there are drafts use col-md-4, otherwise use col-md-6{% endcomment %}
  {% assign coltype = 'col-md-6' %}
  {% for post in site.posts %}
    {% if post.tags contains 'draft' %}
      {% assign coltype = 'col-md-4' %}
    {% endif %}
  {% endfor %}

  <div class="row">
    <div class="{{ coltype }}">
      <h2 class="thin">Software</h2>
      <ul class="listing">
        {% for post in site.posts %}
          {% if post.categories contains 'post' and post.tags contains 'software' %} {% unless post.tags contains 'article' or post.tags contains 'draft' %}
            <li>
              <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
              <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
            </li>
          {% endunless %} {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="{{ coltype }}">
      <h2 class="thin">Cycling</h2>
      <ul class="listing">
        {% for post in site.posts %}
          {% if post.categories contains 'post' and post.tags contains 'cycling' %} {% unless post.tags contains 'draft' %}
            <li>
              <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
              <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
            </li>
          {% endunless %} {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% if coltype == 'col-md-4' %}
    <div class="col-md-4">
      <h2 class="thin">Drafts</h2>
      <ul class="listing">
        {% for post in site.posts %}
          {% if post.tags contains 'draft' %}
            {% unless post.tags contains 'travel' %}
              <li>
                <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
                <span class="post-description">[Draft]</span>
                <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
              </li>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
