---
layout: layout
title: "Joe’s Mots"
categories:
- index
tags:
- landing
sitemap:
  changefreq: daily
  priority: 1.0
---

<div class="container">

  <div class="title">
    <h1 class="title-colour"><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </div>

  {% capture c %}
  {% include_relative _posts/software/about-me-software.md %}
  {% include_relative _posts/cycling/about-me-cycling.md %}
  {% include_relative _posts/das-jo-e/about-me-personal.md %}
  {% endcapture %}
  <div class="row">
    <div class="col-md-12">
      {{ c | markdownify }}
    </div>
  </div>

  {% assign headline_post = site.posts %}
  {% include toc-listing-header.html title="Recent posts" %}
  {% include toc-listing.html posts=site.posts numPosts=4 showDrafts=false showAuthor=false showLongDescription=true showOnlyArticles=false showSeriesPages=true showMainTag=true %}

  {% include toc-listing-header.html title="By category" %}
  <div class="row">
    <div class="col-sm-6 landing-page-series-banner">
      {% include landing-page-series-banner.html tag="software" %}
    </div>
    <div class="col-sm-6 landing-page-series-banner">
      {% include landing-page-series-banner.html tag="das-jo-e" %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 landing-page-series-banner">
      {% include landing-page-series-banner.html tag="haute-route" %}
    </div>
    <div class="col-sm-4 landing-page-series-banner">
      {% include landing-page-series-banner.html tag="honeyment" %}
    </div>
    <div class="col-sm-4 landing-page-series-banner">
      {% include landing-page-series-banner.html tag="tasty-rsvps" %}
    </div>
  </div>

{% comment %}
  <div class="row">
  {% for series in site.data.series %}
    {% unless series.hide_from_index_page %}
      <div class="col-md-4">
        {% include toc-listing-header.html header_href=series.index_path title=series.tag_short_name description=series.tag_description %}
        {% include toc-listing.html tag=series.series_tag numPosts='3' showOnlyArticles=false showShortDescription=false showLongDescription=false showAuthor=false showDate=false showMainTag=false showSeriesPages=true include_series_in_post_title=true %}
      </div>
    {% endunless %}
  {% endfor %}
  </div>
{% endcomment %}
</div>
