---
layout: layout
title: "Joe’s Mots"
categories:
- index
tags:
- landing
sitemap:
  changefreq: daily
  priority: 1.0
---

<div class="container">

  <div class="title">
    <h1 class="title-colour"><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </div>


  {% capture c %}
  {% include_relative _posts/software/about-me-software.md %}
  {% include_relative _posts/cycling/about-me-cycling.md %}
  {% include_relative _posts/das-jo-e/about-me-personal.md %}
  {% endcapture %}
  <div class="row">
    <div class="col-md-12">
      {{ c | markdownify }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include short-toc-by-tag.html tag='all' title="Posts" numPosts='5' showOnlyArticles='false' showLongDescription='true' showAuthor='false' showMainTag='true' showSeriesPages='true' %}
    </div>
  </div>

  {% for series in site.data.series %}
    {% unless series.hide_from_index_page %}
      {% include toc-listing-header.html header_type="h3" header_href=series.index_path title=series.tag_short_name description=series.tag_description %}
    {% endunless %}
  {% endfor %}
</div>
