---
layout: layout
title: "Honeyment"
---

<div class="container">
  <section class="content">
    <div class="row"><div class="col-md-12">
      <div class="title">
        <h1 class="title-colour"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p>{{ site.travel_description }}</p>
      </div>

      <ul class="listing">
        {% for post in site.posts %}
          {% unless post.tags contains 'draft' %}
            {% if post.tags contains 'travel' %}
                <li>
                  {% if post.tags contains 'new' %}<span class="post-description">[NEW]</span>{% endif %}
                  <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
                  {% if post.tags contains 'draft' %}<span class="post-description">[Draft]</span>{% endif %}
                  <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
                  {% unless post.description == "" %}
                    <span class="post-description">&ndash; {{ post.description }}</span>
                  {% endunless %}
                </li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div></div>
  </section>
</div>
