{% if page.series_tag %}

  {% assign series_list = site.data.series | where: "series_tag", page.series_tag | head %}
  {% for series in series_list %}{% if series.index_path and series.tag_short_name %}
  part of the <a href="/{{series.index_path}}">{{series.tag_short_name}}</a> series
  {% endif %}{% endfor %}
{% else %}
  {% for pageTag in page.tags %}
    {% if site.enumerable-tags contains pageTag %}
      {% assign chosenTag = pageTag %}
    {% endif %}
  {% endfor %}

  {% if chosenTag == 'honeyment' %}
    <a href="/{{site.honeyment.index_path}}">{{site.honeyment.tag_name}} index</a>
  {% elsif page.tags contains 'tasty-rsvps' %}
    <a href="/{{site.tasty-rsvps.index_path}}">{{site.tasty-rsvps.tag_name}} index</a>
  {% elsif page.tags contains 'das-jo-e' %}
    <a href="/{{site.das-jo-e.index_path}}">{{site.das-jo-e.tag_name}} index</a>
  {% elsif page.tags contains 'software' %}
    <a href="/{{site.software.index_path}}">{{site.software.tag_short_name}} index</a>
  {% elsif page.tags contains 'haute-route' %}
    <a href="/{{site.haute-route.index_path}}">{{site.haute-route.tag_short_name}} index</a>
  {% endif %}
{% endif %}
