{% for pageTag in page.tags %}
  {% if site.enumerable-tags contains pageTag %}
    {% assign chosenTag = pageTag %}
  {% endif %}
{% endfor %}

{% if chosenTag == 'honeyment' %}
  <a href="/honeyment-index">{{site.honeyment.tag_name}} index</a>
{% elsif page.tags contains 'tasty-rsvps' %}
  <a href="/tasty-rsvps-index">{{site.tasty-rsvps.tag_name}} index</a>
{% elsif page.tags contains 'germany' %}
  <a href="/germany-index">{{site.germany.tag_name}} index</a>
{% elsif page.tags contains 'article' %}
  <a href="/article-index">{{site.article.tag_name}} index</a>
{% endif %}
