<a href="{{ include.stage_strava }}" class="no-link-highlight">
  <li>
    <span class="post-description">Stage {{include.stage_number}} &ndash;</span>
    <span class="post-date">{{ include.stage_date }}</span>

    <span class="link-highlight listing-title">{{ include.stage_title }}</span>
    <span class="post-description listing-title"> &ndash; {{ include.stage_length }}, {{ include.stage_ascent }}</span>

    <p class="post-long-description"><span class="post-description">Cols &ndash;</span> {{ include.stage_cols }}</p>
    <p class="post-long-description">{{ include.stage_description }}</p>
  </li>
</a>
