<div class="container">
  <section class="content">
    <div class="row"><div class="col-md-12">
      <div class="title">
        <h1 class="title-colour"><a href="{{ page.url }}">{{ include.title }}</a></h1>
        {% if include.description %}
          <p>{{ include.description }}.</p>
        {% endif %}
      </div>

      {% if include.include_sub_header %}
        {% include {{ include.include_sub_header }} %}
      {% endif %}

      <ul class="listing">
        {% if include.orderAscending %}
          {% assign orderedPosts = site.posts | reverse %}
        {% else %}
          {% assign orderedPosts = site.posts %}
        {% endif %}

        {% for post in orderedPosts %}
          {% unless post.tags contains 'draft' or post.tags contains 'landing' %}
            {% if post.categories contains 'post' and post.tags contains include.tag %}
                <li>
                  {% if post.tags contains 'new' %}<span class="post-description">[NEW]</span>{% endif %}
                  <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
                  {% if post.tags contains 'draft' %}<span class="post-description">[Draft]</span>{% endif %}
                  <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
                  {% if post.description %}
                    {% unless post.description == "" %}
                      <span class="post-description">&ndash; {{ post.description }}</span>
                    {% endunless %}
                  {% endif %}
                  <span class="post-author"> &ndash; {{ post.author }}</span>
                </li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div></div>
  </section>
</div>
