{% comment %}
Set the following variables to use this include:
  tag - the tag whose posts to index
  title
  [description]
  [include_sub_header] - name of a file to include as a sub header, relative to the post
  [orderAscending] - to make the posts appear chronologically (default is most recent first)
  [showDrafts] - default false
  [showStats] - default false - show time to read and word counts

{% endcomment %}

{% if include.showDrafts %}
  {% assign hideDrafts = false %}
{% else %}
  {% assign hideDrafts = true %}
{% endif %}

{% unless include.listing-only %}
<div class="container">
  <section class="content">
    <div class="row"><div class="col-md-12">
      <div class="title">
        <h1 class="title-colour"><a href="{{ page.url }}">{{ include.title }}</a></h1>
        {% if include.description %}
          <p>{{ include.description }}.</p>
        {% endif %}
      </div>
    </div></div>

      {% if include.include_sub_header %}
        {% include {{ include.include_sub_header }} %}
      {% endif %}

{% endunless %}
{% unless include.header-only %}

  <div class="row"><div class="col-md-12">

    {% include toc-listing.html numPosts='all' showDrafts=include.showDrafts tag=include.tag showAuthor=include.showAuthor showLongDescription='true' orderAscending=include.orderAscending showOnlyArticles=include.showOnlyArticles %}

      {% if include.include_footer %}
        {% include {{ include.include_footer }} %}
      {% endif %}

      {% if include.showStats %}
      <div class="category-stats">
        {% comment %}These stats are collected in toc-listing.html, and remain avaliable for use here.{% endcomment %}
        {% assign mins = totalWordCount | plus:90 | divided_by: 180 %}
        {% assign hours = mins | divided_by: 60 %}
        {% assign full_hours_in_mins = hours | times: 60 %}
        {% assign mins_rem = mins | minus: full_hours_in_mins %}
        {% capture display_wc %}
          {% if totalWordCount > 2000 %}
            {{ totalWordCount | plus: 500 | divided_by: 1000 }}k
          {% else %}
            {{ totalWordCount }}
          {% endif %}
        {% endcapture %}

        <p>Estimated {{hours}}h{{mins_rem}}m reading time for {{display_wc}} words in {{ totalPosts }} posts</p>
      </div>
      {% endif %}

    </div></div>
  </section>
</div>
{% endunless %}
