{% comment %}
Set the following variables to use this include:
  tag - the tag whose posts to index
  title
  [description]
  [include_sub_header] - name of a file to include as a sub header, relative to the post
  [orderAscending] - to make the posts appear chronologically (default is most recent first)
  [showDrafts] - default false
  [showStats] - default false - show time to read and word counts

{% endcomment %}

{% if include.showDrafts %}
  {% assign hideDrafts = false %}
{% else %}
  {% assign hideDrafts = true %}
{% endif %}

{% unless include.listing-only %}
<div class="container">
  <section class="content">
    <div class="row"><div class="col-md-12">
      <div class="title">
        <h1 class="title-colour"><a href="{{ page.url }}">{{ include.title }}</a></h1>
        {% if include.description %}
          <p>{{ include.description }}.</p>
        {% endif %}
      </div>
    </div></div>

      {% if include.include_sub_header %}
        {% include {{ include.include_sub_header }} %}
      {% endif %}

{% endunless %}
{% unless include.header-only %}

  <div class="row"><div class="col-md-12">
      <ul class="listing">
        {% if include.orderAscending %}
          {% assign orderedPosts = site.posts | reverse %}
        {% else %}
          {% assign orderedPosts = site.posts %}
        {% endif %}

        {% assign totalWordCount = 0 %}
        {% for post in orderedPosts %}
          {% unless post.tags contains 'draft' and hideDrafts %}
            {% unless post.tags contains 'landing' %}
              {% if post.categories contains 'post' and post.tags contains include.tag %}
                {% assign postWords = post.content | number_of_words %}
                {% assign totalWordCount = totalWordCount | plus: postWords %}
                <li>
                  {% if post.tags contains 'new' %}<span class="post-description">[NEW]</span>{% endif %}
                  <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
                  {% if post.tags contains 'draft' %}<span class="post-description">[Draft]</span>{% endif %}
                  <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
                  {% if post.description %}
                    {% unless post.description == "" %}
                      <span class="post-description">&ndash; {{ post.description }}</span>
                    {% endunless %}
                  {% endif %}
                  {% if post.author %}{% assign authorArray = post.author | join: "|" | split: "|" %}
                    <span class="post-author"> &ndash; {{ authorArray | array_to_sentence_string }}</span>
                  {% endif %}
                </li>
              {% endif %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
      </ul>

      {% if include.include_footer %}
        {% include {{ include.include_footer }} %}
      {% endif %}

      {% if include.showStats %}
      <div class="category-stats">
        {% assign mins = totalWordCount | plus:90 | divided_by: 180 %}
        {% assign hours = mins | divided_by: 60 %}
        {% assign full_hours_in_mins = hours | times: 60 %}
        {% assign mins_rem = mins | minus: full_hours_in_mins %}
        {% capture display_wc %}
          {% if totalWordCount > 2000 %}
            {{ totalWordCount | plus: 500 | divided_by: 1000 }}k
          {% else %}
            {{ totalWordCount }}
          {% endif %}
        {% endcapture %}

        <p>Estimated {{hours}}h{{mins_rem}}m reading time for {{display_wc}} words
        </p>
      </div>
      {% endif %}

    </div></div>
  </section>
</div>
{% endunless %}
