<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="divider-vertical"></li>
      <li><a href="/{{site.haute-route.index_path}}">{{site.haute-route.tag_short_name}}</a></li>
      <li><a href="/{{site.software.index_path}}">{{site.software.tag_short_name}}</a></li>
      <li><a href="/{{site.das-jo-e.index_path}}">{{site.das-jo-e.tag_short_name}}</a></li>
      <li><a href="/{{site.honeyment.index_path}}">{{site.honeyment.tag_short_name}}</a></li>
      <li><a href="/{{site.tasty-rsvps.index_path}}">{{site.tasty-rsvps.tag_short_name}}</a></li>
    </ul>
  </div>
</nav>
