{% if include.title_image_img %}
  <div id="page-title-img-parent-div-{{include.page-id}}">
    {% if include.title_image_href %}
      <a href="{{include.title_image_href}}">
    {% endif %}
        <div class="title-image">
          <img src="{{ include.title_image_img }}" alt="{{ include.title_image_alt }}" title="{{ include.title_image_alt }}" onerror="this.onerror=null;this.src='';document.getElementById('page-title-img-parent-div-{{include.page-id}}').style.display = 'none';">
        </div>
    {% if include.title_image_href %}
      </a>
    {% endif %}
  </div>
{% endif %}
{% if include.title_image_iframe %}
  {% if include.title_image_href %}
    <a href="{{include.title_image_href}}">
  {% endif %}
      <div class="title-image">
        <iframe src="{{ include.title_image_iframe }}" width="100%" height="100%" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
  {% if include.title_image_href %}
    </a>
  {% endif %}
{% endif %}
