{% if include.title_image_img %}
  <div id="page-title-img-parent-div-{{include.page-id}}">
    {% if include.title_image_href %}
      <a href="{{include.title_image_href}}">
    {% endif %}
        <div class="title-image" {% if include.title_image_max_height %}style="max-height: {{include.title_image_max_height}};"{% endif %}>
          <img src="{{ include.title_image_img }}" alt="{{ include.title_image_alt }}" title="{{ include.title_image_alt }}" onerror="this.onerror=null;this.src='';document.getElementById('page-title-img-parent-div-{{include.page-id}}').style.display = 'none';"
          {% if include.title_image_max_height %}style="max-height: {{include.title_image_max_height}};"{% endif %}
          >
        </div>
    {% if include.title_image_href %}
      </a>
    {% endif %}
  </div>
{% endif %}
{% if include.title_image_iframe %}
  {% if include.title_image_href %}
    <a href="{{include.title_image_href}}">
  {% endif %}
      <div class="title-image" {% if include.title_image_max_height %}style="max-height: {{include.title_image_max_height}};"{% endif %}>
        <iframe src="{{ include.title_image_iframe }}" width="100%" height="100%" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
  {% if include.title_image_href %}
    </a>
  {% endif %}
{% endif %}
{% if include.title_image_flickr_url %}
  <div class="title-image" {% if include.title_image_max_height %}style="max-height: {{include.title_image_max_height}};"{% endif %}>
    <a class="flickr-embed-frame" data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/joekearney/{{include.title_image_flickr_picture}}{% if include.title_image_flickr_album %}/in/album-{{include.title_image_flickr_album}}/{% endif %}">
      <img src="{{include.title_image_flickr_url}}" width="100%" height="100%">
    </a>
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </div>
{% endif %}
