<div class="row title-group">
  <h1 class="h1 title title-colour">
    {% if page.tags contains 'draft' %}<small class="post-description">[Draft]</small>{% endif %}
    <a href="{{ include.url }}">{% if page.series and page.include_series_in_header_title %}{{page.series}} &ndash; {% endif %}{{ include.title | replace:' - ',' &ndash; ' }}</a>
    {% unless include.description == blank %}
      {% if include.description-newline == true %}<br />{% endif %}
      <small>{{ include.description }}</small>
    {% endunless %}
  </h1>
</div>
