{% assign anyPosts = false %}
{% for post in site.categories.post %}
  {% if post.tags contains {{include.tag}} %}
    {% unless post.tags contains 'draft' %}
      {% assign anyPosts = true %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% comment %}Don't show anything at all if there are no non-draft posts for the tag{% endcomment %}
{% if anyPosts %}

{% if include.header_href %}
  {% assign header_href_to_use = {{include.header_href}} %}
{% else %}
  {% capture header_href_to_use %}/{{include.tag}}-index{% endcapture %}
{% endif %}

{% if include.title %}
<h2>
  <span class="title-colour"><a href="{{ header_href_to_use }}">{{ include.title }}</a></span>
  <span class="post-description">{% if include.description %}&mdash; {{ include.description }}{% endif %}
    {% if include.additionalLinkUrl %}
      &mdash; <a href="{{include.additionalLinkUrl}}">{{include.additionalLinkText}}</a>
    {% endif %}
  </span>
</h2>
{% endif %}

{% include toc-listing.html numPosts=include.numPosts showDrafts=include.showDrafts tag=include.tag showAuthor=include.showAuthor showLongDescription=include.showLongDescription showOnlyArticles=include.showOnlyArticles showSeriesPages=include.showSeriesPages %}

{% endif %}
