<h2>
  <span class="title-colour"><a href="/{{include.tag}}-index">{{ include.title }}</a></span>
  <span class="post-description">&ndash; {% if include.description %}{{ include.description }}{% endif %}
    {% if include.additionalLinkUrl %}
      &ndash; <a href="{{include.additionalLinkUrl}}">{{include.additionalLinkText}}</a>
    {% endif %}
  </span>
</h2>
<ul class="listing">
  {% comment %} Only list the top few and any new items further down the list {% endcomment %}
  {% if include.numPosts %}
    {% assign numPosts = include.numPosts %}
  {% else %}
    {% assign numPosts = 3 %}
  {% endif %}

  {% assign remaining = numPosts | plus: 0 %}
  {% assign postsNotListed = 0 %}

  {% for post in site.posts %}
    {% if post.categories contains 'post' and post.tags contains {{include.tag}} %}
      {% unless post.tags contains 'draft' or post.tags contains 'landing' %}
        {% if remaining > 0 or post.tags contains 'new' %}
          {% assign remaining = remaining | minus: 1 %}
          <li>
            {% if post.tags contains 'new' %}<span class="post-description">[NEW]</span>{% endif %}
            <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title | replace:'-','&ndash;' }}</a>
            {% if post.description %}
              {% unless post.description == "" %}
                <span class="post-description">&ndash; {{ post.description }}</span>
              {% endunless %}
            {% endif %}
          </li>
        {% else %}
          {% assign postsNotListed = postsNotListed | plus: 1 %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  {% if postsNotListed > 0 %}
    <li><span class="post-description"><a href="/{{ include.tag }}-index">...more</a></span></li>
  {% endif %}
</ul>
