---
layout: layout
title: "Tasty RSVP"
categories:
- index
tags:
- tasty-rsvps
- wedding
- landing
permalink: /tasty-rsvps-index
sitemap:
  changefreq: daily
  priority: 0.9

---

{% include index-by-tag.html header-only=true tag='tasty-rsvps' title=site.tasty-rsvps.tag_name description=site.tasty-rsvps.tag_description %}

<article>
  <div class="row">
    <div class="col-md-12">
      <h3>What's this all about?</h3>
      <p>We'd like to create a memento of our wedding that we'll be able to use everyday. And we like food, and we'd really like to get better at cooking it.</p>
      <p>So our plan is to create a guest book from all your tasty recipes that everyone can then sign on the day. Then we'll be reminded of all of you and our wedding day every time we cook a tasty dinner.</p>
      <p>Along with an RSVP, <a href="http://www.joandjoegetmarried.co.uk/#!rsvp/pa27i">we've asked all of our wedding guests</a> to send us a tasty recipe &ndash; whether a link to a favourite online, a self-made creative concoction, or even great grandma's secret recipe.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="page-title-img-parent-div" class="title-image">
        <img src="/images/tasty/jo-ice-cream-akaroa.jpg">
      </div>
    </div>
  </div>
</article>

{% assign numPosts = 0 %}
{% for p in site.tags.tasty-rsvps %}
  {% if p.categories contains 'post' %}
    {% unless p.tags contains 'draft' or p.tags contains 'landing' %}
      {% assign numPosts = numPosts | plus: 1 %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div class="row"><div class="col-md-12">
  <h2>All {{ numPosts }} Tasty RSVPs</h2>
</div></div>

{% include index-by-tag.html listing-only=true tag='tasty-rsvps' title=site.tasty-rsvps.tag_name description=site.tasty-rsvps.tag_description orderAscending=false %}
