---
layout: post
title: "Index by Tag"
categories:
- index
tags:
- landing
- no-date
permalink: /posts

sitemap:
  changefreq: daily
  priority: 0.1
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign all_tags = site_tags | split:',' | sort %}

{% for tag in site.enumerable-tags %}
  {% assign numPosts = 0 %}
  {% for p in site.posts %}
    {% if p.categories contains 'post' and p.tags contains tag %}
      {% unless p.tags contains 'draft' or p.tags contains 'landing' %}
        {% assign numPosts = numPosts | plus: 1 %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  <h1>{{ tag }} &ndash; {{ numPosts }} posts</h1>
  <ul>
  {% for p in site.posts %}
    {% if p.tags contains tag %}
      <li>
        {% if p.categories contains 'post' %}<span class="post-description">[Post]</span>{% endif %}
        {% if p.categories contains 'index' %}<span class="post-description">[Index]</span>{% endif %}
        {% if p.tags contains 'landing' %}<span class="post-description">[Landing]</span>{% endif %}
        {% if p.tags contains 'draft' %}<span class="post-description">[Draft]</span>{% endif %}
        <a href="{{p.url}}">{{p.title}}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

<hr></hr>

{% for t in all_tags %}
  {% unless site.enumerable-tags contains t %}
    {% assign numPosts = 0 %}
    {% for p in site.posts %}
      {% if p.categories contains 'post' and p.tags contains t %}
        {% unless p.tags contains 'draft' or p.tags contains 'landing' %}
          {% assign numPosts = numPosts | plus: 1 %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    <h1>{{ t }} &ndash; {{ numPosts }} posts</h1>
    <ul>
    {% for p in site.posts %}
      {% if p.tags contains t %}
        <li>
          {% if p.categories contains 'post' %}<span class="post-description">[Post]</span>{% endif %}
          {% if p.categories contains 'index' %}<span class="post-description">[Index]</span>{% endif %}
          {% if p.tags contains 'landing' %}<span class="post-description">[Landing]</span>{% endif %}
          {% if p.tags contains 'draft' %}<span class="post-description">[Draft]</span>{% endif %}
          <a href="{{p.url}}">{{p.title}}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endunless %}
{% endfor %}
