---
layout: post
title: "Index by Tag"
categories:
- index
tags:
- landing
- no-date
permalink: /posts/

sitemap:
  changefreq: daily
  priority: 0.1
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign all_tags = site_tags | split:',' | sort %}

{% for tag in site.enumerable-tags %}
  {% assign posts = site.empty_array %}
  {% for p in site.posts %}
    {% if p.categories contains 'post' and p.tags contains tag %}
      {% unless p.tags contains 'draft' or p.tags contains 'landing' %}
        {% assign posts = posts | push: p %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  <a class="jumptarget" name="{{ tag | slugify }}"></a><h1>{{ tag }} &ndash; {{ posts.size }} posts</h1>
  {% include toc-listing.html posts=posts numPosts='all' showDrafts="true" showSeriesPages="true" showLongDescription="true" showTags="false" showAuthor="true" %}
{% endfor %}

<hr></hr>

{% for tag in all_tags %}
  {% unless site.enumerable-tags contains tag or site.hidden_tags contains tag %}
    {% assign posts = site.empty_array %}
    {% for p in site.posts %}
      {% if p.categories contains 'post' and p.tags contains tag %}
        {% unless p.tags contains 'draft' or p.tags contains 'landing' %}
          {% assign posts = posts | push: p %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% unless posts.size == 0 %}
      <a class="jumptarget" name="{{ tag | slugify }}"></a><h1>{{ tag }} &ndash; {{ posts.size }} posts</h1>
      {% include toc-listing.html posts=posts numPosts='all' showDrafts="true" showSeriesPages="true" showLongDescription="true" showTags="false" showAuthor="true" %}
    {% endunless %}
  {% endunless %}
{% endfor %}
