---
layout: post
title: "Index by Author"
categories:
- index
tags:
- landing
- no-date
permalink: /authors

sitemap:
  changefreq: daily
  priority: 0.1
---

{% capture site_authors %}{% for post in site.posts %}{{ post.author | join: '|' }}{% unless forloop.last %}|{% endunless %}{% endfor %}{% endcapture %}
{% assign all_authors = site_authors | split:'|' | sort %}

{% assign main_authors = "Joe Kearney,Joanna Kearney,Kate Jones" | split: ',' %}
{% assign all_authors_uniq = site.empty_array %}
{% for a in all_authors %}
  {% unless all_authors_uniq contains a %}
    {% assign all_authors_uniq = all_authors_uniq | push: a %}
  {% endunless %}
{% endfor %}

{% for author in main_authors %}
  {% unless author == "" %}
    {% assign numPosts = 0 %}
    {% for p in site.posts %}
      {% if p.categories contains 'post' %}
        {% if p.author contains author or p.author == author %}
          {% assign numPosts = numPosts | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign authorPosts = site.empty_array %}
    {% for p in site.posts %}
      {% if p.author contains author or p.author == author %}
        {% assign authorPosts = authorPosts | push: p %}
      {% endif %}
    {% endfor %}

    <a class="jumptarget" name="{{ author | slugify }}"></a><h1>{{ author }} &ndash; {{ numPosts }} posts</h1>

    {% include toc-listing.html posts=authorPosts numPosts='all' showDrafts="true" showSeriesPages="true" showOnlyArticles="false" showLongDescription="true" showTags="true" include_series_in_post_title=true %}
  {% endunless %}
{% endfor %}

<h1>Other authors</h1>
{% assign otherAuthorPosts = site.empty_array %}
{% for author in all_authors_uniq %}
  {% unless author == "" or main_authors contains author %}
    {% for p in site.posts %}
      {% if p.author contains author or p.author == author %}
        {% assign otherAuthorPosts = otherAuthorPosts | push: p %}
      {% endif %}
    {% endfor %}
  {% endunless %}
{% endfor %}

{% include toc-listing.html posts=otherAuthorPosts numPosts='all' showAuthor='true' showDrafts="true" showSeriesPages="true" showLongDescription="true" showTags="true" include_series_in_post_title=true %}
