---
layout: layout
title: "Honeyment"
categories:
- index
tags:
- honeyment
- landing
permalink: /honeyment-index
sitemap:
  changefreq: daily
  priority: 0.9

css-require:
- /css/where.css

js-require:
- https://maps.googleapis.com/maps/api/js?signed_in=true&amp;key=AIzaSyARro1ojL1tMxwDIYlRiBGOFShRBSl0kBo
- https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js
- /js/where.js
---

{% include index-listing-for-tag.html header-only=true tag='honeyment' title=site.honeyment.tag_name description=site.honeyment.tag_description orderAscending=true %}

<article>
  <div class="row">
    <div class="col-md-12">
      {% capture intro-text %}{% include_relative honeyment-intro.md %}{% endcapture %}
      {{ intro-text | markdownify }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="page-title-img-parent-div" class="title-image">
        <img src="/images/honeyment-cover.jpg" onerror="this.onerror=null;this.src='';document.getElementById('page-title-img-parent-div').style.display = 'none';">
      </div>
    </div>
  </div>
</article>

{% include index-listing-for-tag.html listing-only=true tag='honeyment' title=site.honeyment.tag_name description=site.honeyment.tag_description include_footer='honeyment-map.html' showAuthor=true orderAscending=true showStats=true %}
