<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Joe's Mots - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

      <div class="jumbotron"> 
        <div class="container">
          <a href="/">
            <h1>{{ site.name }}</h1>
          </a>
          <p>{{ site.description }}</p>
        </div>
      </div>

      <div class="container">

        {{ content }}

        <div class="row contact">
          <div class="col-sm-6">
            <p>
              Powered by <a href="http://pages.github.com/">GitHub Pages</a><br />
              mail@joekearney.co.uk
            </p>
          </div>
          <div class="col-sm-6 text-right">
            <p>
              <a href="https://github.com/joekearney">github.com/joekearney</a><br />
              <a href="https://twitter.com/joejkearney">twitter.com/joejkearney</a><br />
            </p>
          </div>
        </div>
      </div>

    </body>
</html>
