---
layout: post

series: "Haute Route"
series_index: "haute-route"
series_tag: haute-route

css-require:
- /css/haute-route.css
---

{% assign stages = site.data.haute-route | where: "number", page.stage-number | head %}
{% for stage in stages %}

{% capture details-note %}
{{ stage.length }} &ndash; {{ stage.ascent }} &ndash; <b>{{ stage.cols }}</b>
<br />
{% if page.haute-route-gc-position %}Stage position: <b>{{ page.haute-route-stage-position }}</b>{% endif %}
<br />
{% if page.haute-route-gc-position %}GC position: <b>{{ page.haute-route-gc-position }}</b>{% endif %}
{% endcapture %}
{% include note.html note=details-note %}

{% if page.haute_route_strava_embed %}
	<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='{{ page.haute_route_strava_embed }}' class="inline-image-right"></iframe>
{% endif %}

{{ content }}

{% include clearfix.html %}

{% include post-footer-embed.html footer_image_img=stage.profile %}

{% endfor %}
