<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>{% if page.series %}{{page.series}} &ndash; {% endif %}{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  {% if page.meta_description %}
    {% assign meta_description = page.meta_description %}
  {% elsif page.tags contains 'honeyment' %}
    {% assign meta_description = site.honeyment.tag_description %}
  {% elsif page.tags contains 'tasty-rsvps' %}
    {% assign meta_description = site.tasty-rsvps.tag_description %}
  {% elsif page.tags contains 'software' %}
    {% assign meta_description = site.software.tag_description %}
  {% elsif page.tags contains 'germany' %}
    {% assign meta_description = site.germany.tag_description %}
  {% elsif page.description %}
    {% assign meta_description = page.description %}
  {% else %}
    {% assign meta_description = site.description %}
  {% endif %}
  <meta name="description" content="{{ meta_description }}" />
  <meta name="keywords" content="joe kearney,{{ page.tags | join: ',' }},{{ page.keywords | join: ',' }},{{ page.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#b12930">

  <link rel="shortcut icon" href="/j-inverse.ico">
  <link rel="alternate" type="application/atom+xml" title="Joe's Mots Feed" href="/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="Joe's Mots on Software" href="/feeds/atom-software.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.honeyment.tag_name}}" href="/feeds/atom-honeyment.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.tasty-rsvps.tag_name}}" href="/feeds/atom-tasty-rsvps.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.germany.tag_name}}" href="/feeds/atom-germany.xml">

  <link href="/css/up.css" rel="stylesheet" type='text/css'>
  <link href="/css/main.css" rel="stylesheet" type='text/css'>
  <link href="/css/syntax.css" rel="stylesheet" type='text/css'>
  <link href='/css/fonts.css' rel='stylesheet' type='text/css'>

  {% for css in page.css-require %}
  <link href="{{ css }}" rel="stylesheet">
  {% endfor %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% for js in page.js-require %}
  <script type="text/javascript" src="/js/up.js"></script>
  <script type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
</head>

<body>
  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
