---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  {% capture titleText %}
  {% if page.series %}{{page.series}} &ndash; {% endif %}{{ page.title }} &ndash; {{ page.author }}
  {% endcapture %}
  <title>{{ titleText }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  {% if page.long_description %}
    {% assign long_description = page.long_description %}
  {% elsif page.tags contains 'honeyment' %}
    {% assign long_description = site.honeyment.tag_description %}
  {% elsif page.tags contains 'tasty-rsvps' %}
    {% assign long_description = site.tasty-rsvps.tag_description %}
  {% elsif page.tags contains 'software' %}
    {% assign long_description = site.software.tag_description %}
  {% elsif page.tags contains 'das-jo-e' %}
    {% assign long_description = site.das-jo-e.tag_description %}
  {% elsif page.description %}
    {% assign long_description = page.description %}
  {% else %}
    {% assign long_description = site.description %}
  {% endif %}
  <meta name="description" content="{{ long_description }}" />
  <meta name="keywords" content="joe kearney,{{ page.tags | join: ',' }},{{ page.keywords | join: ',' }},{{ page.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#b12930">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:title" content="{{ titleText }}" />
  <meta name="twitter:description" content="{{ long_description }}" />
  {% if page.twitterImage %}
  <meta name="twitter:image" content="{{ site.production_url }}{{ page.twitterImage }}" />
  {% endif %}

  <meta name="google-site-verification" content="9puwYtUfg976cYKbNKoBHbM8MpYiAUsjh4BR4nPpypY" />

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{site.title}} Feed" href="/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.software.tag_name}}" href="/feeds/atom-software.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.honeyment.tag_name}}" href="/feeds/atom-honeyment.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.tasty-rsvps.tag_name}}" href="/feeds/atom-tasty-rsvps.xml">
  <link rel="alternate" type="application/atom+xml" title="{{site.das-jo-e.tag_name}}" href="/feeds/atom-das-jo-e.xml">
  
  <link rel="me" href="https://tooting.ch/@joejkearney">

  <link href="/css/up.css" rel="stylesheet" type='text/css'>
  <link href="/css/main.css" rel="stylesheet" type='text/css'>
  <link href="/css/syntax.css" rel="stylesheet" type='text/css'>
  <link href='/css/fonts.css' rel='stylesheet' type='text/css'>

  {% for css in page.css-require %}
  <link href="{{ css }}" rel="stylesheet">
  {% endfor %}
  {% for css in layout.css-require %}
  <link href="{{ css }}" rel="stylesheet">
  {% endfor %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="/js/up.js"></script>
  {% for js in page.js-require %}
  <script type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
</head>

<body>
  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
