<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{% if page.tags contains 'honeyment' %}{{site.travel_description}}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">

  <link href="/css/up.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/syntax.css" rel="stylesheet">

  {% for css in page.css-require %}
  <link href="{{ css }}" rel="stylesheet">
  {% endfor %}

  <link href='http://fonts.googleapis.com/css?family=Podkova|Metrophobic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% for js in page.js-require %}
  <script type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
</head>

<body>
  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
