---
layout: layout
---

<div class="container">
  <article>
    <div class="row title-group">
      <h1 class="h1 title title-colour">
        <a href="{{ page.url }}">{{ page.title | replace:' - ',' &ndash; ' }}</a>
        {% unless page.description == blank %}
          {% if page.description-newline == true %}<br />{% endif %}
          <small>{{ page.description }}</small>
        {% endunless %}
      </h1>
    </div>

    <section class="byline">
      <div class="row">
        <div class="col-xs-8">
          {% unless page.tags contains 'no-date' %}{{ page.date | date: "%B %e, %Y" }}{% endunless %}
          {% if page.author %} &ndash; {{ page.author }}{% endif %}
          {% if page.source %}<br />Source: <a href="{{page.source}}" target="_blank">{{page.source}}</a>{% endif %}
        </div>
        <div class="col-xs-4 article-index-link">
          {% include auto-tag-index-link.html %}
        </div>
      </div>
    </section>

    {% if page.title_image_img %}
      <div id="page-title-img-parent-div">
        {% if page.title_image_href %}
          <a href="{{page.title_image_href}}">
        {% endif %}
            <div class="title-image">
              <img src="{{ page.title_image_img }}" alt="{{ page.title_image_alt }}" title="{{ page.title_image_alt }}" onerror="this.onerror=null;this.src='';document.getElementById('page-title-img-parent-div').style.display = 'none';">
            </div>
        {% if page.title_image_href %}
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if page.title_image_iframe %}
      {% if page.title_image_href %}
        <a href="{{page.title_image_href}}">
      {% endif %}
          <div class="title-image">
            <iframe src="{{ page.title_image_iframe }}" width="100%" height="100%" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
          </div>
      {% if page.title_image_href %}
        </a>
      {% endif %}
    {% endif %}

    {% if page.title_image_float_right_url %}
      <div class="inline-image inline-image-right" id="page-title-img-float-parent-div">
        <img src="{{page.title_image_float_right_url}}"
          {% if page.title_image_float_right_alt %} alt="{{page.title_image_float_right_alt}}" title="{{page.title_image_float_right_alt}}"{% endif %}
          onerror="this.onerror=null;this.src='';document.getElementById('page-title-img-float-parent-div').style.display = 'none';"
        />
        {% if page.title_image_float_right_text %}
          <p class="inline-image-cap">{{page.title_image_float_right_text}}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if page.tags contains 'draft' %}
      <div class="bs-callout bs-callout-danger"><p><span class="heading">Note:</span> this post is a <b>draft</b></p></div>
    {% endif %}

    {{ content }}

    {% if page.footer_strava_embed %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 inline-image">
            <iframe src='{{ page.footer_strava_embed }}' height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no'></iframe>
          </div>
        </div>
      </div>
    {% endif %}

    <div class='clearfix'></div>

    {% include auto-prev-next.html %}
  </article>

  {% if page.tags contains 'travel' %}
    {% unless page.tags contains 'nocomments' %}
      {% include disqus.html %}
    {% endunless %}
  {% endif %}
</div>
