---
layout: layout
---


<div class="container">
  <article>
    <div class="title-group">
      <h1 class="h1 title title-colour">
        <a href="{{ page.url }}">{{ page.title | replace:'-','&ndash;' }}</a>
        {% unless page.description == blank %}
          <small>{{ page.description }}</small>
        {% endunless %}
      </h1>
    </div>

    <section class="byline">
      {{ page.date | date: "%B %e, %Y" }} &ndash; {{ page.author}}
    </section>

    {% if page.tags contains 'draft' %}
      <div class="bs-callout bs-callout-danger"><p><span class="heading">Note:</span> this post is a <b>draft</b></p></div>
    {% endif %}

    {{ content }}
  </article>
</div>
