---
layout: layout
---

<div class="container">
  <article>
    {% include post-header.html title=page.title description=page.description description-newline=page.description-newline %}

    {% include post-byline.html tags=page.tags date=page.date author=page.author source=page.source categories=page.categories %}

    {% include post-header-image.html title_image_img=page.title_image_img title_image_alt=page.title_image_alt page-id=page.id title_image_href=page.title_image_href title_image_iframe=page.title_image_iframe title_image_max_height=page.title_image_max_height title_image_flickr_url=page.title_image_flickr_url title_image_flickr_picture=page.title_image_flickr_picture title_image_flickr_album=include.title_image_flickr_album %}

    {% include post-float-image.html kind='img' url=page.title_image_float_right_url title_image_alt=page.title_image_alt page-id=page.id id='title-img-float-right' caption=page.title_image_float_right_text %}
    {% include post-float-image.html kind='iframe' url=page.title_iframe_float_right_url page-id=page.id id='title-iframe-float-right' caption=page.title_iframe_float_right_text height=page.title_iframe_float_right_height width=page.title_iframe_float_right_width %}
    {% include post-float-image.html kind='flickr' url=page.title_flickr_float_right_url page-id=page.id id='title-flickr-float-right' caption=page.title_flickr_float_right_text height=page.title_flickr_float_right_height width=page.title_flickr_float_right_width picture_id=page.title_flight_float_right_picture album_id=page.title_flight_float_right_album %}

    {% include post-draft-marker.html tags=page.tags %}

    {{ content }}

    {% include post-footer-embed.html footer_strava_embed=page.footer_strava_embed footer_image_img=page.footer_image_img footer_image_alt=page.footer_image_alt page-id=page.id %}

    <div class='clearfix'></div>

    {% include auto-prev-next.html %}
  </article>

  {% if page.tags contains 'travel' %}
    {% unless page.tags contains 'nocomments' %}
      {% include disqus.html %}
    {% endunless %}
  {% endif %}
</div>
